.cor-destaque {
  color: #e9b21d;
}

.cor-branco {
  color: #ffffff;
}

.cor-cinza {
  color: #9c9b9b;
}

.cor-preto {
  color: #000000
}

.cor-laranja {
  color: #f08811
}

.cor-azul {
  color: #4143d1
}

.cor-roxa {
  color: #3a3c8b 
}

.cor-verde {
  color: #5ce04b
}

